{% extends 'blog/blog_list.html' %}

{% block title %}{{ blog_type.type_name }}{% endblock %}

{% block blog_list_title%}
    分类：{{blog_type.type_name}}(总共有{{blogs|length}}篇博客)
    {{blog.blog_type}}
{% endblock %}







{% comment %}
<!-- 注释掉的内容 -->
{% extends 'base.html' %}

{% block title %}{{ blog_type.type_name }}{% endblock %}

{% block content %}

    {% for blog in blogs %}
        <a href="{% url 'blog_detail' blog.pk %}">
            <h3>{{ blog.title }}</h3>
        </a>
        <p>{{ blog.content | truncatechars:100}}</p>
    {% empty %}
        <p>暂无博客，敬请期待</p>
    {% endfor %}
    <p>总共有{{blogs|length}}篇博客</p>
    <!-- <p>总共有{{blogs.count}}篇博客</p> -->
{% endblock %}
{%endcomment%}

